body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #434455;
    background-color: #FFFFFF;
}
a {
    text-decoration: none;
}
ul, ol {
  list-style: none; 
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.02em;
}
/* #region main-header */
.header-logo, .footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;  

}
 .header-logo {
    color: #4D5AE5;
    letter-spacing: 0.03em;
 }
 .header-logo-studio {
  color: #2E2F42;
}
.header-logo:hover {
    color: #404bbf
}
a.header-menu {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2E2F42;
    letter-spacing: 0.02em;
}
a.header-menu:hover, a.header-menu:active, a.header-menu:focus {
    color: #404BBF;
}
.header-address {
  font-style: normal;
}
a.header-contacts {
    color: #434455;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em
}
.header-contacts:hover, .header-contacts:active, .header-contacts:focus {
color: #404BBF;
}
/* #endregion main-header*/
/* #region main-section */
.main-section {
    background-color: #2e2f42;
}
button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
}

button:active, button:hover, button:focus {
    background-color: #404BBF;
}
.main-button {    
    font-size: 16px;
    line-height: 1.5;  
    font-weight: 500;
    letter-spacing: 0.04em  
}
.main-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-transform: capitalize;
}
.title {
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    color: #2e2f42;
}
/* #endregion main-section */
/* #region section-principles */
.principle-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
     text-transform: capitalize;
    color: #2e2f42;
}

/* #endregion section-principles */
/* #region section-team */
.team {
    background-color: #F4F4FD;
}
.team-member-card {
    background-color: #ffffff;
}
.team-member-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:  #2e2f42;

}
.team-member-text {
    line-height: 1.5;
    letter-spacing: 0.02em
}
/* #endregion section-team */

/* #region section-portfolio */
.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color:#2e2f42;
}
.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* #endregion section-portfolio */

/* #region site-footer */
.site-footer {
    background-color: #2e2f42;
}
.footer-logo {
  color:#4D5AE5;
  letter-spacing: 0.03em;
}
.footer-logo-studio {
  color:#F4F4FD;
}
.fotter-text {
    line-height: 1.5;
    color:#F4F4FD;
    letter-spacing: 0.02em;
}
/* #endregion site-footer */